[submodule "dep"]
    path = dep
    url = https://github.com/mangos/mangosDeps
[submodule "src/realmd"]
    path = src/realmd
    url = https://github.com/mangos/realmd
[submodule "src/modules/SD3"]
    path = src/modules/SD3
    url = https://github.com/mangos/ScriptDev3.git
[submodule "src/tools/Extractor_projects"]
    path = src/tools/Extractor_projects
    url = https://github.com/mangos/Extractor_projects.git
[submodule "win"]
    path = win
    url = https://github.com/mangostools/EasyBuild
[submodule "src/modules/Eluna"]
	path = src/modules/Eluna
	url = https://github.com/ElunaLuaEngine/Eluna
[submodule "src/modules/Bots"]
	path = src/modules/Bots
	url = git@github.com:ike3/mangosbot-bots.git
[submodule "src/modules/Immersive"]
	path = src/modules/Immersive
	url = git@github.com:ike3/mangosbot-immersive.git
[submodule "src/test"]
	path = src/test
	url = git@github.com:ike3/mangosbot-test.git
