[submodule "src/game/LuaEngine"]
	path = src/game/LuaEngine

	url = https://github.com/openwow-org/Eluna
[submodule "src/realmd"]
	path = src/realmd
	url = https://github.com/mangos/realmd.git
[submodule "dep"]
	path = dep
	url = https://github.com/mangos/mangosDeps.git
[submodule "src/modules/Eluna"]
	path = src/modules/Eluna
	url = https://github.com/openwow-org/Eluna
[submodule "src/modules/SD3"]
	path = src/modules/SD3
	url = https://github.com/mangos/ScriptDev3
[submodule "src/tools/Extractor_projects"]
	path = src/tools/Extractor_projects
	url = https://github.com/mangos/Extractor_projects.git
[submodule "win"]
	path = win
	url = https://github.com/mangostools/EasyBuild
[submodule "db2"]
	path = db2
	url = https://github.com/openwow-org/db2
