bin
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.status
config.sub
configure
install-sh
libmpq-config
libmpq.pc
libmpq/.libs/
libmpq/libmpq.la
libtool
ltmain.sh
missing
py-compile
stamp-h1
